
	<form [formGroup]="Details" (ngSubmit)="onSubmit()">
		<div class="container-fluid insider">
			<div class="heading">
				<h1>REACTIVE FORMS IN</h1><h1 class="special">ANGULAR</h1>
			</div>
			
		   <div class="form-row">
			 <div class="form-group col-md-4">
			   <label for="inputName">Name</label>
			   <input type="text" class="form-control" id="inputName" placeholder="Name" formControlName = "name" [ngClass] = "{'invalid': Details.get('name').dirty && Details.get('name').invalid, 'valid': Details.get('name').dirty && Details.get('name').valid}">
			   <span class = "invalidSpan" *ngIf = "Details.get('name').dirty && Details.get('name').invalid"><p>Please Enter your Name</p></span>
			 </div>
			 <div class="form-group col-md-4">
			   <label for="inputEmail">Email</label>
			   <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName = "email" [ngClass] = "{'invalid': Details.get('email').dirty && Details.get('email').invalid, 'valid': Details.get('email').dirty && Details.get('email').valid}">
			   <span class = "invalidSpan" *ngIf = "Details.get('email').dirty && Details.get('email').invalid"><p>Please Enter your Email</p></span>
			 </div>
			 <div class="form-group col-md-4">
			   <label for="inputPhoneNum">Phone Number</label>
			   <input type="number" class="form-control"  placeholder="Phone Number" id="inputPhoneNum" formControlName = "phoneNum" [ngClass] = "{'invalid': Details.get('phoneNum').dirty && Details.get('phoneNum').invalid, 'valid': Details.get('phoneNum').dirty && Details.get('phoneNum').valid}">
			   <span class = "invalidSpan" *ngIf = "Details.get('phoneNum').dirty && Details.get('phoneNum').invalid"><p>Please Enter your Phone Number</p></span>
			 </div>
		   </div>
		   <div class="form-row">
			<div class="form-group col-md-6">
				<label>Password</label>
				<input type="password" class="form-control"  placeholder="Password" formControlName = "password" [ngClass] = "{'invalid': Details.get('password').dirty && Details.get('password').invalid, 'valid': Details.get('password').dirty && Details.get('password').valid}">
				<span class = "invalidSpan" *ngIf = "Details.get('password').dirty && Details.get('password').invalid"><p>Please Enter your password</p></span>
			  </div>
			  <div class="form-group col-md-6">
				<label>Confirm Password</label>
				<input type="password" class="form-control"  placeholder="Confirm Password" formControlName = "passwordConfirm" [ngClass] = "{'invalid': Details.get('passwordConfirm').dirty && Details.get('passwordConfirm').invalid, 'valid': Details.get('passwordConfirm').dirty && Details.get('passwordConfirm').valid}">
				<span class = "invalidSpan" *ngIf = "Details.get('passwordConfirm').dirty && Details.get('passwordConfirm').invalid"><p>Please Confirm your password</p></span>
			  </div>
		   </div>
		  
		   <div class="form-row">
			 <div class="form-group col-md-4">
				<label>Country</label>
				<select placeholder="Country" [(ngModel)]="selectedCountry" (change)="changeCountry($event.target.value)" formControlName="country" class="form-control">
					<option>--Choose Country--</option>
					<option *ngFor="let country of CountriesData">{{country.name}}</option>
				</select>
			 </div>
			 <div class="form-group col-md-4">
				<label>State</label>
				<select placeholder="State" (change)="changeState($event.target.value)" formControlName="state" class="form-control">
					<option>--Choose State--</option>
					<option *ngFor="let state of statesList">{{state.name}}</option>
				</select>
				
			 </div>
			 <div class="form-group col-md-4">
				 <label>City</label>
				<select placeholder="City" formControlName="city" class="form-control">
					<option>--Choose City--</option>
					<option *ngFor="let city of citiesList">{{city.name}}</option>
				</select>
				
			 </div>
		   </div>
	   
		   <div class="form-row">
			 <div class="form-group col-md-3">
			   <label>Gender</label><br>
			   <label class="radio-inline">
				<input type="radio" formControlName="gender" name = "gender" value="male"> &nbsp;Male
			  </label>
			  &nbsp;&nbsp;
			  <label class="radio-inline">
				<input type="radio" formControlName="gender" name = "gender" value="female"> &nbsp;Female
			  </label>
			  &nbsp;&nbsp;
			  <label class="radio-inline">
				<input type="radio" formControlName="gender" name = "gender" value="other"> &nbsp;Other
			  </label>
			  <span class = "invalidSpan" *ngIf = "Details.get('name').dirty && Details.get('name').invalid"><p>Please Enter your Name</p></span>
			 </div>
			 <div class="form-group col-md-3">
			   <label>Martial Status</label><br>
			   <label class="radio-inline">
				<input type="radio" formControlName="relation" name = "relation" value="married">&nbsp;Married
			  </label>
			  &nbsp;&nbsp;
			  <label class="radio-inline">
				<input type="radio" formControlName="relation" name = "relation" value="single">&nbsp;Single
			  </label>
			  <span class = "invalidSpan" *ngIf = "Details.get('relation').dirty && Details.get('relation').invalid"><p>Please Enter your Marital Status</p></span>
			 </div>
			 <div class="form-group col-md-3">
			   <label for="inputPassword4">Favourite Food</label>
			   <input type="text" class="form-control"  placeholder="Favourite Food" formControlName = "favFood" [ngClass] = "{'invalid': Details.get('favFood').dirty && Details.get('favFood').invalid, 'valid': Details.get('favFood').dirty && Details.get('favFood').valid}">
			   <span class = "invalidSpan" *ngIf = "Details.get('favFood').dirty && Details.get('favFood').invalid"><p>Please Enter your favourite food</p></span>
			 </div>
			 <div class="form-group col-md-3">
			   <label for="inputPassword4">Favourite Color</label>
			   <input type="text" class="form-control"  placeholder="Favourite Color" formControlName = "favColor" [ngClass] = "{'invalid': Details.get('favColor').dirty && Details.get('favColor').invalid, 'valid': Details.get('favColor').dirty && Details.get('favColor').valid}">
			   <span class = "invalidSpan" *ngIf = "Details.get('favColor').dirty && Details.get('favColor').invalid"><p>Please Enter your favourite Color</p></span>
			 </div>
		   </div>
		   	<div class="submitButton">
			<button type="submit" class="btn btn-primary">Sign in</button>
		 	</div>
		 </div>
		
		 </form>




	